@use "../../base/variables" as vr;
@use "../../base/mixin" as mix;

@mixin styles {
  header {
    margin-top: 5.538rem;
    @include mix.flex-row-between;
    .hero-txt-container {
      margin: 9.75rem 0 15.25rem 5.538rem;
      width: auto;
      h1 {
        font-size: 3.5625rem;
        padding: 0 10rem 0 0;
      }
      p {
        font-size: 1.1875rem;
        padding: 1.38rem 0 1.38rem 0;
        max-width: 16.5rem;
      }
      button {
        @include mix.button(white, 1rem, 700, 1em 2em, 0, 0.75rem, vr.$green);
      }
    }
    .hero-phone-img {
      width: 30rem;
      height: 28.692rem; // aspect-ratio ~ 1.0442477876106195
      margin-bottom: 7.1495rem;
    }
    .hero-phone-adobe-copyright-img {
      position: absolute;
      bottom: 0;
      left: 5.538rem;
      width: 8%;
      margin-bottom: 1.846rem;
    }
  }
  .--heading-right {
    background-image: linear-gradient(
      -328deg,
      rgba(58, 137, 154, 1) 0%,
      rgba(53, 74, 93, 1) 80%
    );
    .hero-txt-container {
      margin-left: 0;
      margin-right: 5.538rem;
      order: 2;
      h1 {
        padding-right: 0;
      }
      p {
        padding: 1.38rem 0 1.38rem 0;
      }
    }
    .hero-phone-img {
      transform: rotateY(190deg);
    }
    .hero-phone-adobe-copyright-img {
      left: auto;
      right: 5.538rem;
    }
  }
}
