@use "../../base/variables" as vr;
@use "../../base/mixin" as mix;

.about-us {
  width: 100%;
  background-image: vr.$About-us-background;
  margin-top: 5rem;
  @include mix.flex;
  h1 {
    @include mix.font(white, 2.5rem, 600, 3rem 0.935rem 1rem 0.935rem, 0);
    text-align: center;
  }
  article {
    width: 90.65%;
    @include mix.flex;
    section {
      width: 100%;
      @include mix.flex($al: flex-start);
      h2 {
        @include mix.font(vr.$green, 1.438rem, 500, 2rem 0 0.5rem 0, 0);
        text-shadow: 1px 2px 10px rgba(57, 79, 100, 1);
      }
      p,
      li {
        @include mix.font(white, 1rem, 400, 0 0 0.5rem 0, 0);
      }
      li a {
        text-decoration: underline;
        margin-bottom: 0.5rem;
      }
      ul {
        margin-left: 1rem;
      }
    }
    section:last-child {
      margin-bottom: 5rem;
    }
  }
}
.--right {
  background-image: linear-gradient(
    -321deg,
    #394f64 0%,
    #3d8d9b 0.01%,
    #40a5b0 0.02%,
    #375165 45.6%
  );
  article {
    section {
      align-items: flex-end;
      p,
      li {
        text-align: end;
      }
      ul {
        list-style-type: none;
      }
    }
  }
}
