@use "../../base/variables" as vr;
@use "../../base/mixin" as mix;

.services {
  width: 90.65%;
  margin: 0 auto;
  @include mix.flex-col-center;
  h1 {
    @include mix.font(vr.$blue, 2.063rem, 600, 3rem 0, 0);
    text-align: center;
  }
  .services__bottom-content {
    width: 100%;
    @include mix.flex-col-center;
    .services__bottom-content__text-content {
      width: 100%;
      @include mix.flex-col-center($al: flex-start);
      h2 {
        @include mix.font(vr.$blue, 1.188rem, 500, 0 0 1rem 0, 0);
      }
      p {
        @include mix.font(vr.$blue, 0.813rem, 300, 0, 0);
      }
    }
    img {
      width: 60%;
      aspect-ratio: 1;
      margin: 2rem 0 3.5rem 0;
      border-radius: 0.75rem;
    }
  }
}
