@forward "./styles/screens/sm/phone";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  -webkit-tap-highlight-color: none;
}

:root {
  font-size: clamp(1rem, 0.1398rem + 4.3011vw, 1.75rem); // 16-28 max-599
}
