@forward "./styles/screens/sm/phone";
@use "./styles/screens/md/tabLand" as tabL;
@use "./styles/screens/lg/normalPc" as pc;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  -webkit-tap-highlight-color: none;
}

:root {
  font-size: clamp(1rem, 0.1398rem + 4.3011vw, 1.75rem); // 16-28 max-599
}
@media screen and (min-width: 600px) {
  :root {
    font-size: clamp(1.75rem, 0.245rem + 4.0134vw, 2.5rem); // 28-40 max-899
  }
}
@media screen and (min-width: 900px) {
  :root {
    font-size: clamp(0.8125rem, 0.25rem + 1vw, 1rem); // 13-16 max-1200
  }
  @include tabL.styles;
}

@media screen and (min-width: 1201px) {
  :root {
    font-size: clamp(1rem, 0.2489rem + 1.0014vw, 1.4375rem); // 16-23 ~
  }
  @include pc.styles;
}
