// Colors

$Hero-background: linear-gradient(
  328deg,
  rgba(58, 137, 154, 1) 0%,
  rgba(53, 74, 93, 1) 80%
);
$Task-Tools-background: linear-gradient(
  329deg,
  #394f64 0%,
  #40a5b0 0.01%,
  #3d8d9b 26.97%,
  #375165 62.38%
);
$About-us-background: linear-gradient(
  321deg,
  #394f64 0%,
  #3d8d9b 0.01%,
  #40a5b0 0.02%,
  #375165 45.6%
);

$green: #43abb8;
$blue: #375165;
$footer-copyright: #1c2832;
