// Colors

$Hero-background: linear-gradient(
  328deg,
  rgba(58, 137, 154, 1) 0%,
  rgba(53, 74, 93, 1) 80%
);
$Task-Tools-background: linear-gradient(
  329deg,
  #394f64 0%,
  #40a5b0 0.01%,
  #3d8d9b 26.97%,
  #375165 62.38%
);
$About-us-background: linear-gradient(
  321deg,
  #394f64 0%,
  #3d8d9b 0.01%,
  #40a5b0 0.02%,
  #375165 45.6%
);

$tools-panel-background: linear-gradient(180deg, #43abb8 0%, #394f64 78.12%);

$green: #43abb8;
$red: #b84743;
$blue: #375165;
$red2: #653737;
$footer-copyright: #1c2832;

// Box Shadow
$nav-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$tools-panel-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
